*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
ul,
ol,
li,
dl,
dt,
dd,
img,
form,
table,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: none;
    text-align: left;
    list-style-type: none;
    border-collapse: collapse;
}

body {
    width: 100%;
    height: 100%;
}

.logo {
    cursor: pointer;
    margin: 20px 0 0 50px;
}

.itw-logo {
    margin: 20px 0 0 50px;
}

.comp-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
    border: 1px solid grey;
    border-radius: 50px;
}

.comp-title h2 {
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid black;
}

.comp-content p {
    font-size: 25px;
    margin-top: 20%;
    text-align: center;
}

.btn {
    margin-top: 15%;
    text-align: center;
    padding: 50px;
}

.btn button {
    width: 60%;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 0;
    letter-spacing: .3em;
    text-align: center;
    cursor: pointer;
    background-color: rgb(0, 204, 255);
    border: 1px solid rgb(0, 204, 255);
    border-radius: 50px;
    color: white;
}

.btn button:hover {
    box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.2);
}