*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
ul,
ol,
li,
dl,
dt,
dd,
img,
form,
table,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: none;
    text-align: left;
    list-style-type: none;
    border-collapse: collapse;
}

body {
    width: 100%;
    height: 100%;
}

.itw-logo {
    margin: 20px 0 0 50px;
}


.rePass {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid grey;
    border-radius: 50px;
    padding: 20px 0;
}

.rePass-title {
    font-size: 20px;
    border-bottom: 1px solid grey;
    padding-bottom: 15px;
}

.rePass h2 {
    text-align: center;
}

form {
    width: 70%;
    margin: 0 auto;
    font-size: 25px;
    margin-top: 10%;
}

form dl {
    margin-top: 50px;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
}

form span {
    display: inline-block;
    width: 13em;
}

form input {
    width: 60%;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}

.td-pass {
    position: relative;
}

i {
    position: absolute;
    color: black;
    transform: translateX(-130%);
    margin-top: 7px;
    cursor: pointer;
}

.btn {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    border-bottom: none;
}

.btn button {
    width: 40%;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    letter-spacing: .3em;
    text-align: center;
    cursor: pointer;
    background-color: rgb(0, 204, 255);
    border: 1px solid rgb(0, 204, 255);
    border-radius: 50px;
    color: white;
}

.btn-submit:hover {
    box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.7);
}

.error {
    font-size: 15px;
    color: red;
}